#navbar{
  display: none;
}

@media only screen and (max-width: 768px) {
#nav{
  display: none;
}
footer{
  display: none;
}
#navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: #0d6efd;
  font-family: 'Exo 2', sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.navbar-items {
  color: #0d6efd;
  font-size: 20px;
  text-decoration: none;
  margin: 8px;
  padding: 3px;
}

.navbar-items:hover {
  color: beige;
  border-radius: 20%;
  font-size: 20px;
  background-color: rgb(6, 6, 223);
}
.navbar-items.active {
  border-radius: 20%;
  background-color: rgb(6, 6, 223);
  color: #fff;
}
section {
  display: none; /* Hide all sections by default */
}

section.active {
  display: block; /* Show the active section */
  background-color: #f0f0f0; /* Highlight the active section */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20%;
}


 }


/* Typing effect styles */
.typing-effect {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black; /* Cursor */
  display: inline-block;
}

/* Blinking cursor keyframes */
@keyframes blink {
  0% { border-right-color: black; }
  50% { border-right-color: transparent; }
  100% { border-right-color: black; }
}

/* Applying the blink animation */
.text-secondary {
  animation: blink 0.75s step-end infinite;
}



.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .hovereffect:hover .overlay {
    background-color: rgba(48, 152, 157, 0.4);
  }
  
  .hovereffect img {
    display: block;
    position: relative;
  }
  
  .hovereffect h2 {
    font-weight: 600;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .hovereffect:hover h2 {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    color:blue;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    margin: -52px 0 0 0;
    padding: 62px 100px;
  }
  
  .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  /* The actual timeline (the vertical ruler) */
  :root{
    --color1: #9DAFBF;
    --color2: #6A7C8B;
}
.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50%;
    float: left;
    padding: 70px 0 0;
}
.main-timeline .timeline-content{
    color: #555;
    background: linear-gradient(30deg,transparent,#ddd);
    text-align: center;
    padding: 30px 20px 20px;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-year{
    color: #fff;
    background: linear-gradient(var(--color1),var(--color2));
    font-size: 10px;
    font-weight: 600;
    padding: 40px 10px 5px;
    border-radius: 5px 5px 0 0;
    transform: rotate(20deg);
    position: absolute;
    top: -50px;
    right: -10px;
}
.main-timeline .timeline-year:before,
.main-timeline .timeline-year:after{
    content: '';
    background: linear-gradient(var(--color1),var(--color2));
    height: 33px;
    border-radius: 30px/50px;
    position: absolute;
    left: -7px;
    right: -1.5px;
    top: -4px;
}
.main-timeline .timeline-year:after{
    background: var(--color1);
    width: 23px;
    left: auto;
}
.main-timeline .title{
    color: var(--color2);
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.main-timeline .description{
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: right; 
    margin: 0 0 0 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    background: linear-gradient(-30deg,transparent,#ddd);
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    transform: rotate(-20deg);
    right: auto;
    left: -10px;
}
.main-timeline .timeline:nth-child(even) .timeline-year:before,
.main-timeline .timeline:nth-child(even) .timeline-year:after{
    right: -7px;
    left: -1.5px;
}
.main-timeline .timeline:nth-child(2){
    --color1: #D949A0;
    --color2: #AB116B;
}
.main-timeline .timeline:nth-child(3){
    --color1: #9568B7;
    --color2: #57297E;
}
.main-timeline .timeline:nth-child(4){
    --color1: #4BC5DE;
    --color2: #1092AD;
}
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        padding: 60px 0 0 15px;
        margin: 0 0 30px;
        float: none;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        background: linear-gradient(-30deg,transparent,#ddd);
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        transform: rotate(-20deg);
        top: -45px;
        left: 0;
        right: auto;
    }
    .main-timeline .timeline-year:before,
    .main-timeline .timeline-year:after{
        right: -7px;
        left: -1.5px;
    }
}
@media screen and (max-width:576px){
    .main-timeline .timeline-content{ padding-top: 60px; }
}
.jobtype{
  font-weight: 600;
}